venv/
data/
.venv/
assets/
__pycache__/
installer_output/
*.pyc
*.pyo
*.pyd
.idea/
.vscode/
dist/
build/
*.spec
cache.json
killmails/
logs/installer_output/
build/
dist/
*.spec.bak
*.txt
*.log
*.md
installer_output/
build/
dist/
